.caixa {
    background-color: rgb(37, 26, 190);
}

.titulo {
    color: rgb(220, 170, 243) !important;
    font-weight: bold !important;
}

.botao {
    border-color: rgb(89, 3, 97) !important;
    background-color: rgb(137, 12, 168);
    color: white !important
}

.postagens {
    background-color: rgb(215, 101, 243);
}